* {
	font-size: 48px;			/* min 48px for all text in the game, used as this /is/ a mobile game. makes everything readable. */
	font-family: 'Helvetica Neue', sans-serif; /* changed typeface to something more... palatable */
}

button, input[type=button], input[type=submit], input[type=reset], input[type=text], input[type=password], input[type=number], textarea, select {
	/* all UI elements */
	padding: 16px;		/* add some padding so things are easier to press on mobile screens. */
	border: 0;
	outline: none;
}

.modal {
	background-color: rgba(20,20,20,0.75);
	position: fixed;
	width: 60%;
	max-height: 720px;
	min-height: 180px;
	/* sets the dimensions (height/width) for modal boxes. */
	border-radius: 10px;	/* rounds the corners of the modal, for aesthetics */
	padding-bottom: 128px; /* this gives the modal actions more room to be displayed properly. omitting this causes visual oddities */
}

.modal-title {
	text-align: center;		/* center the title for modal boxes */
	margin: 16px;					/* give them a margin so that they don't overlap with the contents of the modal */
	font-size: 54px;			/* make the title big */
    font-weight: 500;		/* and make it bold */
	color: rgb(240,240,240);	/* sets the font color. */
}

.modal-contents {
	text-align: center;
	white-space: normal;		/* forces the contents of the modal to wrap properly. */
	padding: 16px;					/* adds 16px space between the modal and the contents of it */
	font-size: 32px;				/* smaller than the title */
	max-height: 520px;			/* sets a max height. beyond this, they will scroll */
	color: rgb(240,240,240);
}

.modalContainer {
	z-index: 99999999; /* a high z-index causes modals to always be displayed over everything else */
}

.trayContainer {
	z-index: 99999999; /* as above, but with the tray. */
}

ul.modal-actions {
	position: absolute;
    bottom: 24px; /* modal actions are 24px above the bottom of the modal. */
    text-align: center;		/* centers them so that they look right */
    width: 100%;			/* sets the width to 100% to fit as many buttons as possible*/
}

.modal-contents p {
	margin-bottom: 0.5em; /* adds some spacing between paragraphs inside a modal */
	font-size: 48px;
}

li.modal-action {
	display: inline-block;		/* uses inline-block to draw modal actions - so they're all on the same line */
    padding: 12px 48px;			/* adds some space inside the buttons so that text looks less cramped */
	margin: 8px;							/* adds some space between modal actions so they look less cramped */
    background-color: rgba(255,255,255,0.7);			/* makes them white, with an opacity (alpha) of 0.7 */
    border-radius: 4px;					/* rounds off the corners */
}

.game-loading {
	/* this shows at the bottom-right when the game is loading */
	position: fixed;		/* always display 32px away from the bottom-right of the screen */
	bottom: 32px;
	right: 32px;
	color: rgb(230,230,230);			/* font color */
	background-color: rgb(40,40,40);		/* sets the bg color */
	padding: 12px 36px;		/* gives the loading text some padding. */

}

.viewContent {
	max-height: 1080px;
    min-height: 1080px;
    max-width: 1920px;
    min-width: 1920px;
	position: relative;
}

.imageButton {
	background: no-repeat scroll 0 0 transparent; position: fixed;
	width: 138px; height: 138px;
}

.tray {
	background-color: rgba(0,0,0,0.7);
    width: 1920px;
    height: 1080px;
}

.trayContainer {
	min-height: 100%;
	vertical-align: middle;
	display: flex;
	justify-content: center;
	align-items: center;
	min-width: 100%;
	position: fixed;
}

.trayOptions {
	height: 128px;
    margin: 24px 0;
	width: 100%;
	text-align: center;
}

.trayMainView {
	background-color: rgb(235,235,235);
    height: calc(100% - 375px);
    margin: 24px;
	overflow-y: scroll;
    border-radius: 12px;
}

.trayOptions li {
	display: inline-block;
    padding: 8px 24px;
	margin: 8px;
}

.fa-fs {
	font-size: 82px !important;
	color: rgba(255,255,255,0.4);
}

li.active .fa-fs {
	color: rgba(255,255,255,0.85);
}

.itemImage {
	width: 256px; height: 256px;
	background-repeat: no-repeat !important;
    background-size: contain !important;
	background-position: center !important;
	display: inline-block;
	vertical-align: middle;
	margin: 36px;
}

.itemDetails {
	display: inline-block;
	vertical-align: middle;
	white-space: normal;
	width: 80%;
}

.buyButton {
	display: block;
	text-align: center;
	font-size: 36px;
	text-transform: uppercase;
	font-weight: 500;
	color: white;
	vertical-align: middle;
	padding: 16px;
	background-color: #27ae60;
}

.itemName,.itemDescription {
	display: block;
}

.itemName {
	font-weight: 500;
}

.itemDescription {
	padding-top: 8px;
	font-size: 36px;
}

ul.itemsList li.itemElement {
	border-bottom: 2px solid grey;
}

ul.decorationsList li.itemElement {
	border-bottom: 2px solid grey;
}

.moneyHud {
	position: fixed;
	right: 32px;
	top: 32px;
	background-color: #725037;
	border-radius: 16px;
}

.moneyText {
	vertical-align: middle;
	display: inline-block;
	padding-right: 48px;
	color: white;
	font-weight: 400;
}

.moneyIcon {
	min-width: 64px;
	max-width: 64px;
	min-height: 64px;
	max-height: 64px;
	background-image: url(../assets/coin.png);
	background-size: contain;
	background-repeat: no-repeat;
	display: inline-block;
	vertical-align: middle;
	margin: 16px 32px;
}

.customerButton {
	background: no-repeat scroll 0 0 transparent; position: fixed;
	width: 138px; height: 138px;
}
