* {
	font-size: 48px;
	font-family: 'Helvetica Neue'; /* changed typeface to something more... palatable */
}

button, input[type=button], input[type=submit], input[type=reset] {
	/* button styles */
}

input[type=text], input[type=password], input[type=number] {
	/* textbox styles */
}

input[type=range] {
	-webkit-appearance: none;
	margin: 24px 0;
	width: 50%;
	outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
	width: 100%;
	height: 16.8px;
	cursor: pointer;
	animate: 0.2s;
	background: #3071a9;
}

input[type=range]::-webkit-slider-thumb {
	height: 48px;
	width: 48px;
	background: red;
	cursor: pointer;
	-webkit-appearance: none;
	margin-top: -16px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
	background: #367ebd;
}


textarea {
	/* large text area styles */
}

select {
	/* dropdown styles */
}

p {
	/* standard text */
}

button, input[type=button], input[type=submit], input[type=reset], input[type=text], input[type=password], input[type=number], textarea, select {
	/* all UI elements */
	padding: 16px;
	border: 0;
	outline: none;
}

.modal {
	background-color: rgba(20,20,20,0.75);
	position: fixed;
	width: 60%;
	max-height: 720px;
	min-height: 180px;
	border-radius: 10px;
	padding-bottom: 128px; /* this gives the modal actions more room. i am aware this is a shitty hack. */
}

.modal-title {
	text-align: center;
	margin: 16px;
	font-size: 54px;
    font-weight: 500;
	color: rgb(240,240,240);
}

.modal-contents {
	text-align: center;
	white-space: normal;
	padding: 16px;
	font-size: 32px;
	/* removed scrolling, because no modal will ever need to scroll */
	max-height: 520px;
	color: rgb(240,240,240);
}

.modalContainer {
	z-index: 99999999; /* TODO: Make this a more appropriate number!!! */
}

.trayContainer {
	z-index: 99999999; /* TODO: Make this a more appropriate number!!! */
}

ul.modal-actions {
	position: absolute;
    bottom: 24px; /* looks prettier */
    text-align: center;
    width: 100%;
}

.modal-contents p {
	margin-bottom: 0.5em; /* adds some spacing between paragraphs inside a modal */
	font-size: 48px;
}

li.modal-action {
	display: inline-block;
    padding: 12px 48px;
	margin: 8px;
    background-color: rgba(255,255,255,0.7);
    border-radius: 4px;
}

.game-loading {
	position: fixed;
	bottom: 32px;
	right: 32px;
	color: rgb(230,230,230);
	background-color: rgb(40,40,40);
	padding: 12px 36px;

}

.viewContent {
	max-height: 1080px;
    min-height: 1080px;
    max-width: 1920px;
    min-width: 1920px;
	position: relative;
}

.imageButton {
	background: no-repeat scroll 0 0 transparent; position: fixed;
	width: 138px; height: 138px;
}

.tray {
	background-color: rgba(0,0,0,0.7);
    width: 1920px;
    height: 1080px;
}

.trayContainer {
	min-height: 100%;
	vertical-align: middle;
	display: flex;
	justify-content: center;
	align-items: center;
	min-width: 100%;
	position: fixed;
}

.trayOptions {
	height: 128px;
    margin: 24px 0;
	width: 100%;
	text-align: center;
}

.trayMainView {
	background-color: rgb(235,235,235);
    height: calc(100% - 375px);
    margin: 24px;
	overflow-y: scroll;
    border-radius: 12px;
}

.trayOptions li {
	display: inline-block;
    padding: 8px 24px;
	margin: 8px;
}

.fa-fs {
	font-size: 82px !important;
	color: rgba(255,255,255,0.4);
}

li.active .fa-fs {
	color: rgba(255,255,255,0.85);
}

.itemImage {
	width: 256px; height: 256px;
	background-repeat: no-repeat !important;
    background-size: contain !important;
	background-position: center !important;
	display: inline-block;
	vertical-align: middle;
	margin: 36px;
}

.itemDetails {
	display: inline-block;
	vertical-align: middle;
	white-space: normal;
	width: 80%;
}

.buyButton {
	display: block;
	text-align: center;
	font-size: 36px;
	text-transform: uppercase;
	font-weight: 500;
	color: white;
	vertical-align: middle;
	padding: 16px;
	background-color: #27ae60;
}

.itemName,.itemDescription {
	display: block;
}

.itemName {
	font-weight: 500;
}

.itemDescription {
	padding-top: 8px;
	font-size: 36px;
}

ul.itemsList li.itemElement {
	border-bottom: 2px solid grey;
}

ul.decorationsList li.itemElement {
	border-bottom: 2px solid grey;
}

.moneyHud {
	position: fixed;
	right: 32px;
	top: 32px;
	background-color: #725037;
	border-radius: 16px;
}

.moneyText {
	vertical-align: middle;
	display: inline-block;
	padding-right: 48px;
	color: white;
	font-weight: 400;
}

.moneyIcon {
	min-width: 64px;
	max-width: 64px;
	min-height: 64px;
	max-height: 64px;
	background-image: url(../assets/coin.png);
	background-size: contain;
	background-repeat: no-repeat;
	display: inline-block;
	vertical-align: middle;
	margin: 16px 32px;
}

.customerButton {
	background: no-repeat scroll 0 0 transparent; position: fixed;
	width: 138px; height: 138px;
}
