* {
	font-size: 48px;
	font-family: 'Helvetica Neue'; /* changed typeface to something more... palatable */
}

button, input[type=button], input[type=submit], input[type=reset] {
	/* button styles */
}

input[type=text], input[type=password], input[type=number] {
	/* textbox styles */
}

input[type=range] {
	-webkit-appearance: none;
	margin: 24px 0;
	width: 50%;
	outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
	width: 100%;
	height: 16.8px;
	cursor: pointer;
	animate: 0.2s;
	background: #3071a9;
}

input[type=range]::-webkit-slider-thumb {
	height: 48px;
	width: 48px;
	background: red;
	cursor: pointer;
	-webkit-appearance: none;
	margin-top: -16px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
	background: #367ebd;
}


textarea {
	/* large text area styles */
}

select {
	/* dropdown styles */
}

p {
	/* standard text */
}

button, input[type=button], input[type=submit], input[type=reset], input[type=text], input[type=password], input[type=number], textarea, select {
	/* all UI elements */
	padding: 16px;
	border: 0;
	outline: none;
}

.modal {
	background-color: red;
	position: fixed;
	width: 60%;
	max-height: 720px;
	min-height: 180px;
	border-radius: 10px;
	padding-bottom: 128px; /* this gives the modal actions more room. i am aware this is a shitty hack. */
}

.modal-title {
	text-align: center;
	margin: 16px;
	font-size: 54px;
    font-weight: 500;
}

.modal-contents {
	text-align: center;
	white-space: normal;
	padding: 16px;
	font-size: 32px;
	overflow-y: scroll;
	max-height: 520px;
}

.modalContainer {
	z-index: 99999999; /* TODO: Make this a more appropriate number!!! */
}

ul.modal-actions {
	position: absolute;
    bottom: 24px; /* looks prettier */
    text-align: center;
    width: 100%;
}

.modal-contents p {
	margin-bottom: 0.5em; /* adds some spacing between paragraphs inside a modal */
	font-size: 48px;
}

li.modal-action {
	display: inline-block;
    padding: 8px 24px;
	margin: 8px;
    background-color: green;
    border-radius: 4px;
}

.game-loading {
	position: fixed;
	bottom: 32px;
	right: 32px;
	color: rgb(230,230,230);
	background-color: rgb(40,40,40);
	padding: 12px 36px;

}

.background {
	max-height: 1080px;
    min-height: 1080px;
    max-width: 1920px;
    min-width: 1920px;
}
