<div class="viewContent">
	<div class="npcLayer" style="display: none;"></div>
	<div class="shop-pre"></div>
	<div class="shop-post"></div>
	<button class="imageButton" id="trayButton" style="bottom:32px;left:32px;background:url('assets/common/addItem.png')" onclick="_f.game.toggleTray();"></button>
	<button class="customerButton" style="display:none;bottom:32px;right:32px;background:url('assets/common/customer.png')" onclick="_f.game.checkCustomer();"></button>
	<div class="moneyHud"><div class="moneyIcon"></div><div class="moneyText"></div></div>
</div>

<script>

_f.music.changeBGM('game');
_f.game.refreshDecoration();
_f.game.updateMoneyHud();

gameSave.shop.forEach(function(res){
	if(res.shouldDraw) {
		$('.viewContent').append('<div class="item" style="width: '+res.dimensions[0]+'px; height: '+res.dimensions[1]+'px; top: '+res.position[1]+'px; left: '+res.position[0]+'px; position: absolute; background: url(\''+res.image+'\')" id="item-'+res.uuid+'"></div>');
	}

	res.destroy = function(){_f.game.destroyItem(this.uuid);};
	res.interaction = itemDefinitions[res.id].interaction;
	res.sell = function(){_f.game.sellItem(this.uuid);};
	res.flip = function(){_f.game.flipItem(this.uuid);};

	if(res.flipped == 1) {
		$('#item-'+res.uuid).css('transform', 'scaleX(-1)');
	}

});

$('.content').mousewheel(function(e, delta) {
    $(this).scrollLeft(this.scrollLeft + (-delta * 40));
    e.preventDefault();
});

$('li').on('click', function(res) {
	$('.trayOptions ul li').removeClass('active');
	$('#'+res.target.id).addClass('active');
	$('.trayView').hide();
	$('#trayView-'+res.target.id).show();
})


$(document).on("contextmenu", ".item", function(e){

	var itemReference = _f.game.getItemFromUUID(e.target.id.substring(5));
	var sellPrice = (itemReference.price / 4 )* 3;
	var menu = new gui.Menu();
	menu.append(new gui.MenuItem({ label: itemReference.name, enabled: false}));
	if(itemReference.canMove) {
		menu.append(new gui.MenuItem({ type: 'separator' }));
		menu.append(new gui.MenuItem({ label: 'Flip', click: function(){
			itemReference.flip();
		}}));
		menu.append(new gui.MenuItem({ label: 'Move', click: function(){
			_f.game.moveItem(e.target.id.substring(5));
		} }));
	}
	if(itemReference.price > 0) {
		menu.append(new gui.MenuItem({ type: 'separator' }));
		menu.append(new gui.MenuItem({ label: 'Sell ($'+sellPrice.toFixed(2)+')', click: function(){itemReference.sell();}}));
	}
	console.log(e);
	menu.popup(e.pageX, e.pageY);
	return false;
});

if(!gameSave.tutorialComplete && typeof(minigameScores) == "undefined") {
	// only run this if the player hasn't completed the tutorial, AND they haven't just come back from the first minigame
	$('.moneyHud').hide();
	$('.imageButton').hide();
	setTimeout(function(){_f.game.npcSpeech('manvir', [0, 1, 2], function(){
		setTimeout(function(){
			/* run this after 1s */
			_f.game.npcSpeech('manvir', [3, 4], function(){
				_f.ui.modal.push("Well? What are you going to call your shop?", "<p>Be careful picking this - you won't be able to change it later!</p><input type=\"text\" id=\"name\" name=\"name\"></input>", [
					{
						"name": "OK",
						"action": "_f.ui.modal.dismiss(updateShopNameAndContinueTutorial);"
					}
				]);
			});
		}, 3000);
	})}, 500); /* run this after 500ms */
} else if(!gameSave.tutorialComplete && typeof(minigameScores) == "object") {
	// player is still playing the tutorial, but has come back from the first minigame.
	$('.moneyHud').hide();
	$('.imageButton').hide();
	_f.game.npcSpeechFromScore(_f.game.judgeCoffee(2, 2, 50, [false, false, false, false, false, false]), 'npc1', function(){
		$('.moneyHud').show();
		_f.game.npcSpeech('manvir', [41, 42, 43, 44, 45, 46], function(){
			_f.game.changeMoney(1000);
			setTimeout(function(){
				_f.game.npcSpeech('manvir', [47, 48, 49, 50], function(){
					$('.imageButton').show();
					$('.trayOptions #decorate').show();
					gameSave.unlockedDecorations[1] = true; _f.game.refreshDecorationStore();
				});
			}, 1000);
		})
	});
}

function updateShopNameAndContinueTutorial() {
	gameSave.shopName = $('#name').val();
	_f.system.save();
	_f.game.npcSpeech('manvir', [5, 6, 7], function() {
		$('.imageButton').attr('onclick', '');
		$('.imageButton').show();
		$('.trayOptions #decorate').hide();
		$('.imageButton').on('click', function(){
			_f.game.npcSpeech('manvir', [8], function(){
				$('.imageButton').hide();
				_f.game.toggleTray(function(){

					$('.itemElement').attr('onclick', '');
					$('.itemElement').on('click', function() {

						_f.game.confirmBuy(0);
						$('.buyButton').attr('onclick', '');
						$('.buyButton').on('click', function() {
							_f.game.toggleTray(function(){
								_f.game.purchaseItem(0, true);
								setTimeout(function(){
									gameSave.unlockedItems[0] = false; _f.system.save(); /* disable the cash register from being bought */
									_f.game.npcSpeech('manvir', [9], function(){
										_f.music.playSFX('customer', function(){
											_f.game.npcSpeech('manvir', [10,11,12], function(){
												$('.customerButton').show();
												$('.customerButton').attr('onclick', '');
												$('.customerButton').on('click', function(){
													_f.game.npcSpeech('npc1', "Erm, hi. Let's see... I'd like a large coffee with the Strong Manvir beans. Oh, and some extra Mandhu Milk please. But not too much! I've just had my fill!", function(){
														_f.game.npcSpeech('manvir', [14,15], function(){
															_f.music.playSFX('coffee-start');
															_f.views.loadView('minigame', {
																"beans": 0,
																"milk": 2,
																"sugar": 0,
																"cream": false,
																"flavouring": false
															});
														})
													});
												})
											})
										});
									});
								}, 500);
							})

						});

					});

				});

			});
		});
	})
}

function tutorialEnding() {
	$('.imageButton').remove();
	_f.game.toggleTray();
	_f.game.npcSpeech('manvir', [51, 52], function(){
		gameSave.skipTitle = true; gameSave.unlockedItems = [false, true, true, true]; gameSave.unlockedDecorations = [true, true, true, true]; gameSave.tutorialComplete = true; _f.system.save(); win.reload();
	})
}

</script>
