<div class="viewContent" style="background-image: url('assets/shop1/p2.png');">
	<div class="npcLayer" style="display: none;">
		<div class="npcSpeech">No speech loaded!!!1</div>
		<div class="npcImage"></div>
	</div>
	<div class="shop-pre"></div>
	<div class="shop-post"></div>
	<button class="imageButton" id="trayButton" style="bottom:32px;left:32px;background:url('assets/common/addItem.png')" onclick="_f.game.toggleTray();"></button>
	<div class="moneyHud"><div class="moneyIcon"></div><div class="moneyText"></div></div>
</div>

<script>

var widthPre = sizeOf('peony/assets/shop1/p1.png').width;
$('.shop-pre').css('min-width', widthPre).css('max-width', widthPre).css('background-image', 'url("assets/shop1/p1.png")');

var widthPost = sizeOf('peony/assets/shop1/p3.png').width;
$('.shop-post').css('min-width', widthPost).css('max-width', widthPost).css('background-image', 'url("assets/shop1/p3.png")');

$('.viewContent').css('min-width', gameSave.shopWidth+widthPost+widthPre+'px');
$('.viewContent').css('max-width', gameSave.shopWidth+widthPost+widthPre+'px');
$('.viewContent').css('background-position-x', widthPre+'px');

_f.game.updateMoneyHud();

gameSave.shop.forEach(function(res){
	if(res.shouldDraw) {
		$('.viewContent').append('<div class="item" style="width: '+res.dimensions[0]+'px; height: '+res.dimensions[1]+'px; top: '+res.position[1]+'px; left: '+res.position[0]+'px; position: absolute; background: url(\''+res.image+'\')" id="item-'+res.uuid+'"></div>');
	}

	res.destroy = function(){_f.game.destroyItem(this.uuid);};
	res.interaction = itemDefinitions[res.id].interaction;
	res.sell = function(){_f.game.sellItem(this.uuid);};
	res.flip = function(){_f.game.flipItem(this.uuid);};

	if(res.flipped == 1) {
		$('#item-'+res.uuid).css('transform', 'scaleX(-1)');
	}

});

$('.content').mousewheel(function(e, delta) {
    $(this).scrollLeft(this.scrollLeft + (-delta * 40));
    e.preventDefault();
});

$('li').on('click', function(res) {
	$('.trayOptions ul li').removeClass('active');
	$('#'+res.target.id).addClass('active');
	$('.trayView').hide();
	$('#trayView-'+res.target.id).show();
})


$(document).on("contextmenu", ".item", function(e){

	var itemReference = _f.game.getItemFromUUID(e.target.id.substring(5));
	var sellPrice = (itemReference.price / 4 )* 3;
	var menu = new gui.Menu();
	menu.append(new gui.MenuItem({ label: itemReference.name, enabled: false}));
	if(itemReference.canMove) {
		menu.append(new gui.MenuItem({ type: 'separator' }));
		menu.append(new gui.MenuItem({ label: 'Flip', click: function(){
			itemReference.flip();
		}}));
		menu.append(new gui.MenuItem({ label: 'Move', click: function(){
			_f.game.moveItem(e.target.id.substring(5));
		} }));
	}
	if(itemReference.price > 0) {
		menu.append(new gui.MenuItem({ type: 'separator' }));
		menu.append(new gui.MenuItem({ label: 'Sell ($'+sellPrice.toFixed(2)+')', click: function(){itemReference.sell();}}));
	}
	console.log(e);
	menu.popup(e.pageX, e.pageY);
	return false;
});

if(!gameSave.tutorialComplete) {
	$('.moneyHud').hide();
	$('.imageButton').hide();
	_f.game.npcSpeech('manvir', [0, 1, 2]);
}


</script>
