.viewContent {
	background-color: black;
}

.beanSelect {
	max-height: 1080px;
	min-height: 1080px;
	max-width: 1920px;
	min-width: 1920px;
	position: relative;
	background-image: url('../assets/beanSelect.png')
}

.beans {
	position: absolute;
	width: 394.4px;
	height: 641.1px;
	opacity: 0;
	background-color: rgb(0,0,0);
}

.beans:active {
	opacity: 0.5;
}

.beans0 {
	left: 82.2px; top: 296.5px;
}

.beans1 {
	left: 536.2px; top: 296.5px;
}

.beans2 {
	left: 990.2px; top: 296.5px;
}

.beans3 {
	left: 1444.2px; top: 296.5px;
}

.beanGrind {
	max-height: 1080px;
	min-height: 1080px;
	max-width: 1920px;
	min-width: 1920px;
	position: relative;
	display: none;
	background-image: url('../assets/beanGrind.png')
}

.beanGrindBean {
	background-image: url(../assets/bean.png);
    max-height: 452px;
    min-height: 452px;
    max-width: 360px;
    min-width: 360px;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    left: 780px;
    top: 360px;
}

.progress-bar {
	position: absolute;
    height: 64px;
    top: 924px;
    left: 72px;
    border-radius: 8px;
	background-color: #34A5DA;
}

.counter {
	position: absolute;
    top: 48px;
    right: 48px;
    font-size: 96px;
    color: white;
}
