.viewContent {
	background-color: black;
}

.beanSelect {
	max-height: 1080px;
	min-height: 1080px;
	max-width: 1920px;
	min-width: 1920px;
	position: relative;
	background-image: url('../assets/beanSelect.png')
}

.beans {
	position: absolute;
	width: 394.4px;
	height: 641.1px;
	opacity: 0;
	background-color: rgb(0,0,0);
}

.beans:active {
	opacity: 0.5;
}

.beans0 {
	left: 82.2px; top: 296.5px;
}

.beans1 {
	left: 536.2px; top: 296.5px;
}

.beans2 {
	left: 990.2px; top: 296.5px;
}

.beans3 {
	left: 1444.2px; top: 296.5px;
}

.beanGrind {
	max-height: 1080px;
	min-height: 1080px;
	max-width: 1920px;
	min-width: 1920px;
	position: relative;
	display: none;
	background-image: url('../assets/beanGrind.png')
}

.beanGrindBean {
	background-image: url(../assets/bean.png);
    max-height: 452px;
    min-height: 452px;
    max-width: 360px;
    min-width: 360px;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    left: 780px;
    top: 360px;
}

.progress-bar {
	position: absolute;
    height: 64px;
    top: 924px;
    left: 72px;
    border-radius: 8px;
	background-color: #34A5DA;
}

.counter {
	position: absolute;
    top: 48px;
    right: 48px;
    font-size: 96px;
    color: white;
}

.cupSize {
	max-height: 1080px;
	min-height: 1080px;
	max-width: 1920px;
	min-width: 1920px;
	position: relative;
	display: none;
	background-image: url('../assets/cupSize.png')
}

.cup0 {
	left: 249.8px; top: 691.9px;
	width: 291.5px; height: 388.1px;
}

.cup1 {
	left: 662.4px; top: 640.1px;
	width: 374.5px; height: 442.6px;
}

.cup2 {
	left: 1175.9px; top: 540.7px;
	width: 482.1px; height: 542px;
}

.cup {
	position: absolute;
	opacity: 0;
	background-color: rgb(0,0,0);
}

.cup:active {
	opacity: 0.5;
}

.milking {
	max-height: 1080px;
	min-height: 1080px;
	max-width: 1920px;
	min-width: 1920px;
	position: relative;
	display: none;
	background-image: url('../assets/milking.png')
}

.udder {
	width: 802.5px;
    height: 772.4px;
    background-image: url(../assets/udder.png);
    background-size: cover;
    background-repeat: no-repeat;
    left: 558.75px;
    position: relative;
    top: -8px;
}

.cupMilk {
	width: 302px;
	height: 442px;
	background-size: cover;
	background-repeat: no-repeat;
	left: 809px;
	position: relative;
	bottom: -56px;
}

.cupMilk0   { background-image: url(../assets/cup-full-milk0.png) }
.cupMilk10  { background-image: url(../assets/cup-full-milk10.png) }
.cupMilk20  { background-image: url(../assets/cup-full-milk20.png) }
.cupMilk30  { background-image: url(../assets/cup-full-milk30.png) }
.cupMilk40  { background-image: url(../assets/cup-full-milk40.png) }
.cupMilk50  { background-image: url(../assets/cup-full-milk50.png) }
.cupMilk60  { background-image: url(../assets/cup-full-milk60.png) }
.cupMilk70  { background-image: url(../assets/cup-full-milk70.png) }
.cupMilk80  { background-image: url(../assets/cup-full-milk80.png) }
.cupMilk90  { background-image: url(../assets/cup-full-milk90.png) }
.cupMilk100 { background-image: url(../assets/cup-full-milk100.png) }

.flavouring {
	max-height: 1080px;
	min-height: 1080px;
	max-width: 1920px;
	min-width: 1920px;
	position: relative;
	display: none;
	background-image: url('../assets/flavouring.png')
}
