<link href="views/titleScreen.css" type="text/css" rel="stylesheet">

<script>
	function startGame(){
		if(!gameSave.started) {
			_f.ui.modal.push('Hi! Before we start...', '<p>What\'s your name? You can change this later in the settings.</p><input type="text" id="name" name="name"></input>', [
				{
					"name": "OK",
					"action": "updateName()"
				}
			]);
		}
	}

	function updateName() {
		_f.game.updateName($('#name').val());
		alert($('#name').val());
	}
</script>

<div class="viewContent" style="background-image: url('assets/title.png')">
	<button onclick="startGame();" class="absolute startGame">Start</button>
</div>
