<link href="views/titleScreen.css" type="text/css" rel="stylesheet">

<script>
	if(gameSave.skipTitle) {
		gameSave.skipTitle = false; _f.system.save();
		_f.views.loadView('gameplay');
	}
	_f.music.changeBGM('menu');

	function startGame(){
		if(!gameSave.started) {
			_f.ui.modal.push('What\'s cookin\', good lookin\'?', '<p>Before I take you on MANVIR\'S WILD COFFEE SHOP RIDE, I need your name.</p><input type="text" id="name" name="name"></input>', [
				{
					"name": "OK",
					"action": "gameSave.started = true; _f.system.save(); _f.ui.modal.dismiss(updateNameAndStart);"
				}
			]);
		} else {
			_f.views.loadView('gameplay');
		}
	}

	function updateNameAndStart() {
		_f.game.updateName($('#name').val());
		_f.views.loadView('gameplay');
	}
</script>

<div class="viewContent" style="background-image: url('assets/title.png')">
	<button onclick="startGame();" class="absolute startGame">Let's get brewing</button>
</div>
